body{
    background-image: url('image2machine.jpg');
    background-repeat: none;
    background-size: cover;
}
.first{
    display:flex;
    justify-content: space-between;
}

.list li{
    list-style-type: none;
    display: inline;
    color: white;

}
.flex{
    display:flex;
    justify-content: space-between;
}
.list{
    width: 707px;
}
.logo a{
    text-decoration: none;
    color: white;
} 
.text{
    color: white;
    margin-top: 170px;
    margin-left: 33px;
}
.button1{
    background-color: blue;
    border-radius: 5px;
    border-style: none;
    width:200px;
    height: 50px;
    color: white;
}
.button2{
    border-radius: 10px;
    border-style: none;
     width:200px;
    height: 50px;
     color: white;
     background-color:rgba(128, 128, 128, 0.5) ;
}
.actor h1{
    color:white;
}
.posterhead h1{
    color:white;
}
.flex2{
    display:flex;
    justify-content:space-between;
    margin-right:10px;
    height:171px;
}


.actorimage{
    display: flex;
    justify-content:space-between;
    
}
.second {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 24px;
    
}
.second main{
    margin-top:145px;
    height: 564px;
}
.flex3 h1{
 color: white;
}
.form1{
    margin-top: 129px;

}
.flex3{
    margin-top: 119px;
    height: 400px;
    width: 476px;
}

.image1
{
border-radius:40%;
width:100px;
height:100px;
}
.image2
{
border-radius:40%;
}
.image3
{
border-radius:40%;
}
.image4
{
border-radius:40%;
}
.img1{
    border-radius:40%;
width:100px;
height:100px;
}
.actor{
    padding: 10px;
    height: 146px;
    width: 447px;
}
